.status {
  display: inline-block;
}
.status a i {
  float: left;
  display: inline-block;
  width: 23px;
  margin-right: 3px;
  border: 1px solid #ddd;
  padding: 3px 2px 3px 2px;
  font-size: 14px;
  text-align: center;
  color: #ddd;
  transition: all 0.3s ease 0s;
}

.status a i:hover {
  border: 1px solid #555;
  color: #555;
}

.status a i.current {
  border: 1px solid #555;
  color: #555;
}

.status a i.current.fa-check  {
  border: 1px solid #3CB594;
  color: #3CB594;
}

.priowrapper {
  display: inline-block;
}

.priowrapper a i {
  float: left;
  display: inline-block;
  width: 23px;
  margin-right: 3px;
  border: 1px solid #ddd;
  padding: 2px;
  font-size: 16px;
  text-align: center;
  color: #ddd;
  transition: all 0.3s ease 0s;
}

.priowrapper a i:hover {
  border: 1px solid #555;
}

.priowrapper a i.fa-star {
  color: #f0ad4e;
}

.priowrapper a i.fa-star-o  {
  color: #999;
}


.collapsetitel {
  display: inline-block;
  color: #4B9AD9;

}

.collapsetitel:hover {
  cursor: pointer;
}


.td_aufgaben {
  width: auto;
}

.td_kategorie {
  width: 150px;
  font-size: 12px;
}

.td_prio {
  width: 120px;
  font-size: 14px;
}

.td_eigentuemer {
  width: 150px;
  font-size: 12px;
}

.td_status {
  width: 175px;
}
.td_edit {
  width: 35px;
}

.td_edit i {
  padding: 2px 2px 2px 3px;
  width: 23px;
  font-size: 17px;
  border: 1px solid #eee;

}

.aufgabentrenner {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  padding: 4px 0 4px 0;
  margin: 4px 0 4px 0;
  color: #555;
}



.select-style {
    border: 1px solid #cccccc;
    width: auto;
    overflow: hidden;
    background: #fff url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 98% 50%;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    margin-top: 3px;
}
.select-style select {
    padding: 1px 3px 3px 3px ;
    font-size: 10px;
    font-weight: normal;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    -webkit-border-radius: 0px;



}
.select-style select:focus {
    outline: none;
}
.select-style select:hover {
    cursor: pointer;
}

.erledigtschalter i {
  padding: 2px 1px 2px 2px;
  width: 23px;
  font-size: 17px;
}
